.light .sidebar {
    background-color: #ffffff;
    border-right: 1px solid var(--table-border-color);
}

.light .chapter li {
    margin: 8px 0px;
}

.light .chapter li a {
    padding: 8px 8px;
}

.light .chapter li a:hover, .light .chapter li .active {
    border-radius: 8px;
    transition: color 250ms, background-color 250ms;
    background-color: #f0f8ff;
}

.light .chapter li .active {
    font-weight: bold;
    transition: font-weight 250ms;
}
